body{
    margin: 0;
    padding: 0;
    background-color: skyblue;

}
.container{
    width: 60%;
    height: 50vh;
    margin: 0 auto;
    /* border: 2px solid; */
    margin-top: 10px; 

}
.col-1{
    width: 500px;
    height: 200px;
    background: url("./images/bg.jpg");
    float: left;
}
.col-2{
    width: 300px;
    height: 200px;
    background-color: orange;
    float: left;
    margin-left: 10px;
}
.col-2 span{
  color: white;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 2rem;
}
#ul{
     color: white;    
}
.col-3{
    width: 300px;
    height: 200px;
    background-color: blueviolet;
    float: left;
    margin-left: 10px;
    color: white;
}
.col-4{
    width: 500px;
    height: 250px;
    background-color: rgb(95, 196, 187);
    float: left;
    margin-top: 10px;
    color: white;
}
.col-5{
    width: 610px;
    height: 250px;
    background-color: rgb(233, 227, 227);
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}